*{
  margin:0;
  padding: 0;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?4ey6sy');
  src:url('../fonts/icomoon.eot?#iefix4ey6sy') format('embedded-opentype'),
  url('../fonts/icomoon.woff?4ey6sy') format('woff'),
  url('../fonts/icomoon.ttf?4ey6sy') format('truetype'),
  url('../fonts/icomoon.svg?4ey6sy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: bolder;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abajo:before {
  content: "\f0a3";
  color: green;
}

.icon-arriba:before {
  content: "\f0a2";
  color: red;
}

.icon-lapiz:before {
  content: "\e600";
}

.icon-pluma:before {
  content: "\e908";
  margin-right: 0.8em ;
}

.icon-extrella:before {
  content: "\e9d7";
  color:gold;
  -webkit-text-fill-color: gold;
  margin-right: 0.4em ;

}



body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  background: #343B54;
  color: #fff;
  padding: 0.5em;
  position: relative;
  overflow: hidden;
}

header figure{
  float: left;
}

header h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.2em 70px 0 0;
}

header #logo{
  border-right: 1px solid #fff;
  margin-right: 0.5em;
}

header #logo img {
  padding-right: 0.5em;
  width: 52px;
  -webkit-transition: 1s;
  -moz-transition:  1s;
  -ms-transition:  1s;
  -o-transition:  1s;
  transition: 1s;
}

header #logo img:hover{
  transform: rotate(350deg);
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
header #avatar{
  margin: 0.5em 0 0.5em 0;
  right: 0;
  position: absolute;
  top: 0;
}
header #avatar img{
  width: 55px;
  border-radius: 55px;
}

nav{
  background: #80BCA3;
  padding: 0 6em 0 0;
  position: relative;
  box-shadow: 4px 5px 15px rgba(0,0,0,0.8);
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  display: inline-block;
  margin: 0 1em 0 0;
}

nav ul li a{
  color: #fff;
  padding: 1em;
  text-decoration: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s ;
  -ms-transition: 0.4s ;
  -o-transition: 0.4s ;
  transition: 0.4s ;
}

nav ul li a:hover{
  background: #343B54;
}

nav ul #publicar_nav{
  position: absolute;
  top: -0.4em;
  right: 0;
}
nav ul #publicar_nav a {
  background: #22BCE0;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
  font-style: italic;
  padding: 0.8em 0.8em;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  margin-top: 10px;
  -webkit-transition: 0.3s ;
  -moz-transition: 0.3s ;
  -ms-transition: 0.3s ;
  -o-transition: 0.3s ;
  transition: 0.3s ;
}

nav ul #publicar_nav a:hover{
  font-size: 18px;
}

a {
  color: #22BCE0;
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

#contenido {
  margin:  1em;
}

#contenido .item {
  background: #FFFFFF;
  border-bottom: 3px solid #22BCE0;
  margin-bottom: 3em;
  min-height: 128px;
  position: relative;
  padding: 0.5em;
}
#contenido .item .imagen_item{
  float: left;
  margin: 0 1em 0 0;
}

#contenido .item .imagen_item img {
  width: 96px;
}

#contenido .item .titulo_item {
  font-size: 1.2em;
  font-style: italic;
}

#contenido .item .titulo_item a{
  color: #444;
  text-decoration: none;
}

#contenido .item .autor_item {
  color: #AAA;
}

#contenido .item .datos_item{
  text-align: right;
  margin: 1em 1em 0;
}

#contenido .item .datos_item .tag_item {
  background: #F4502A;
  border-radius: 0.5em;
  color: #fff;
  float: left;
  display: inline-block;
  padding: 0.2em;
  text-decoration: none;
}

#contenido .item .datos_item .fecha_item {
  color: #AAA;
}

#contenido .item .votacion {
  background: white;
  border-radius: 0 0 0.5em 0.5em;
  left: 3%;
  margin: 5px 0 10px 0;
  padding: 0.2em 0.5em;
  position: absolute;
  top: 100%;
  width: 90%;
}

#contenido .item .votacion a{
  display: inline-block;
}
#contenido .item .votacion .comentarios_item,
#contenido .item .votacion .guardar_item{
  float: right;
}

#contenido .item .votacion .comentarios_item{
  background: gray;
  color: white;
  width: 15px;
  height: 10px;
  text-align: center;
  padding: 0.5em;
}


footer{
  background: #22BCE0;
  text-align: center;
  color: rgba(255,255,255,0.7);
  padding: 1em; 
}

footer p:first-child{
  border: 1px solid red;
  margin-bottom:0;
}
footer p:last-child{
  margin-top: 0;
}

footer p:last-child:before{
  content: " -";
}
footer p:last-child:after{
    content: "- ";
}

aside{
  display: none;
}

/*@media print{*/
  /**{*/
    /*font-family: fantasy;*/
    /*border: 1px solid red;*/
    /*font-size: 20px;*/
  /*}*/
/*}*/
@media screen and (min-width: 768px){

  #contenido{
    overflow: hidden;
  }

  #contenido .item{
    width: 46%;
    float: left;
  }
  #contenido .item:nth-child(odd){
    margin-right: 3% ;
  }
}

@media screen and  (min-width: 1000px){
  aside{
    display: block;
    float: right;
    margin-right: 4em;
    margin-top: 1em ;
    width: 20%;
  }
  aside vide{
    width: 100%;
  }
}